body{
    text-align:center;
}
#location iframe{
    margin-top: 80px;
    margin-bottom:50px;
}
h1{
    margin-bottom:50px;
}

#gmail{
    font-size:20px;
}
.travel_mainDiv{
    float: left;
    width: 33.3%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}
.travel_mainDiv img{
    width:450px;
        height:300px;
    
}
.travel_mainDiv hr{
    width:100%;
}
.travel_mainDiv h5, .travel_mainDiv p{
    margin-left:20px;
}
.row::after{
    content:"";
    clear:both;
    display:table;
}
.movie_head{
    font-size:20px;
    padding:6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    display:inline-block;
}
.movie_head i{
    float:right;
}
.movie_text span{
    color:#ff7700;
}
#achievementsID{
    padding-bottom: 10px;
}
#whats_new img{
    width:250px;
    height:200px;
    margin-bottom: 100px;
   
}
#whats_new p{
    margin-top:50px;
}
#whats_new li{
    height:300px;
   
}
li{
    margin-top:15px;
    margin-bottom:15px;
}
#heading{
    margin-bottom: 20px;
}
#big{
    height:200px;
}
#achievement1{
    margin-top:30px;
}
#text{
    font-size:30px;
}